In [11]:
#Answer1
a=int(input("Number1="))
b=int(input("Number2="))
c=int(input("Number3="))
average= (a+b+c)/3
print("AVERAGE = ",average)

Number1=15
Number2=76
Number3=9
AVERAGE =  33.333333333333336

In [2]:
#Answer2
a=float(input("enter the Gross income="))
b=float(input("Number of dependents="))
c=a-10000-(b*3000)
d=c/5
print("Income Tax =",d)

enter the Gross income=40000
Number of dependents=2
Income Tax = 4800.0

In [2]:
#Answer3
a=float(input("Entre the time in seconds="))
b=a//60
c=a%60
print(b,"min",c,"sec")

Entre the time in seconds=268
4.0 min 28.0 sec

In [1]:
#Answer4

Num1 = int(25)
Num2 = float(25.0)
Num3 = float(str('25'))

Num4 = str(Num1+Num2+Num3)

print("Value = " , Num4)
print(type(Num4))

Value =  75.0
<class 'str'>

In [1]:
#Answer5

from math import*
#create a for loop
for i in range(0 ,360 ,15):
    
    print(i, round(sin(i),4),round(cos(i),4))

0 0.0 1.0
15 0.6503 -0.7597
30 -0.988 0.1543
45 0.8509 0.5253
60 -0.3048 -0.9524
75 -0.3878 0.9218
90 0.894 -0.4481
105 -0.9705 -0.241
120 0.5806 0.8142
135 0.0884 -0.9961
150 -0.7149 0.6993
165 0.9978 -0.0663
180 -0.8012 -0.5985
195 0.2195 0.9756
210 0.4677 -0.8839
225 -0.9301 0.3673
240 0.9454 0.3258
255 -0.5064 -0.8623
270 -0.176 0.9844
285 0.7739 -0.6333
300 -0.9998 -0.0221
315 0.7451 0.6669
330 -0.1324 -0.9912
345 -0.544 0.8391